* {
	margin: 0px;
	padding: 0px;
	font-size: 14px
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: "Arial";
	background: #ccffcc;
	color: #404040;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 35px;
}

h2 {
	font-size: 25px;
	font-style: italic;
	margin-bottom: 10px;
}

h3 {
	font-size: 18px;
}

.container {
	width: 800px;
	margin: 0px auto;
	overflow: hidden;
}

.hidden { visibility: hidden; }

.right { float: right; }
.left { float: left; }

.error {
	color: red;
	font-size: 12px;
}





/* Main */

main {
	position: relative;
	margin-bottom: 0px;
}






/* Header */

header {
	text-align: center;
	padding: 30px 0px;
}





/* Navigation */

nav .container {
	background: #404040;
	border-radius: 10px 10px 10px 10px;
}

nav li {
	float: left;
	list-style-type: none;
}

nav a {
	display: block;
	padding: 7px 0px;
	width: 100px;
	text-align: center;
	font-weight: bold;
	color: white;
}

nav a:hover {
	background: #4d4d4d;
	color: #33ccff;
}




/* Sections */

section {
	margin-top: 40px;
}

	/* Login section */

	.login .submit {
		display: block;
		border: none;
		border-radius: 5px 5px 5px 5px;
		padding: 5px 0px;
		width: 100px;
		text-align: center;
		color: white;
		background: #404040;
		cursor: pointer;
	}

	.login .submit:hover {
		background: #4d4d4d;
		color: #33ccff;
	}

	.login .password {
		margin-bottom: 5px;
		border: 1px solid #a6a6a6;
		border-radius: 5px 5px 5px 5px;
		font-size: 13px;
		padding: 5px;
		width: 200px;
	}





	/* Post review section */

	.post-view table {
		border-collapse: collapse;
		width: 100%;
	}

	.post-view th {
		text-align: left;
		font-size: 15px;
		padding-bottom: 7px;
		border-bottom: 2px solid #404040;;
	}

	.post-view td {
		font-size: 13px;
		border-bottom: 1px solid #404040;
		padding: 5px;
	}

	.post-view .heading {
		width: 20%;
	}

	.post-view .action {
		width: 29%;
		text-align: right;
	}

	.post-view .action-buttons {
		overflow: hidden;
	}

	.post-view .action a {
		font-size: 12px;
		margin-right: 2px;
		float: left;
		display: block;
		width: 70px;
		padding: 3px 0px;
		text-align: center;
		background: #404040;
		color: white;
		border-radius: 5px 5px 5px 5px;
	}

	.post-view .action a:hover {
		background: #4d4d4d;
		color: #33ccff;
	}




	/* Post create and edit section */

	.post-create table {
		border-collapse: collapse;
		width: 70%;
	}

	.post-create th {
		text-decoration: underline;
		text-align: left;
	}

	.post-create td {
		padding: 3px;
	}

	.post-create .heading,
	.post-create .content,
	.post-create .target {
		width: 100%;
		padding: 5px;
		font-size: 13px;
		border: 1px solid #a6a6a6;
		border-radius: 5px 5px 5px 5px;
	}

	.post-create .heading {
		font-weight: bold;
	}

	.post-create .content {
		height: 100px;
		font-family: "Arial";
		resize: none;
	}

	.post-create .target option {
		font-size: 13px;
		padding: 2px;
	}

	.post-create .submit {
		display: block;
		border: none;
		border-radius: 5px 5px 5px 5px;
		padding: 5px 0px;
		width: 100px;
		text-align: center;
		color: white;
		background: #404040;
		cursor: pointer;
	}

	.post-create .submit:hover {
		background: #4d4d4d;
		color: #33ccff;
	}






/* Footer */

.pusher {
	height: 50px;
}

footer {
	position: relative;
	bottom: 0px;
	vertical-align: bottom;
	height: 50px;
	width: 100%;
}