* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #ffcc33;
	color: #392613;
	font-family: 'Verdana';
}

h2 {
	font-weight: normal;
	font-size: 20pt;
}

h6 {
	color: #4d4d4d;
}

a {
	color: #392613;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

nav {
	position: fixed;
	z-index: 100;
}

nav img {
	display: block;
	margin: 40px auto 20px 40px;
}

nav li {
	list-style-type: none;
	position: relative;
	transition: background-color 0.5s;
}

nav ul a {
	transition: color 0.5s;
	display: block;
	width: 220px;
	padding: 15px 0px;
	text-align: center;
	font-size: 13pt;
}

nav li:hover {
	background-color: #392613;
}

nav li:hover a {
	color: #ffcc33;
}

nav li:hover .submenu {
	visibility: visible;
}

nav li:hover .submenu li {
	background-color: #392613;
}

nav .submenu {
	visibility: hidden;
	position: absolute;
	left: 220px;
}

nav .submenu li {
	transition: background-color 0.5s;
	background-color: transparent;
}

nav .submenu a {
	text-align: left;
	font-size: 11pt;
	padding: 10px 20px;
	width: 210px;
}

main {
	display: flex;
	flex-direction: row;
	margin-left: 280px;
	position: relative;
	padding-top: 50px;
}

.news {
	margin-right: 50px;
}

.news .post {
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #392613;
	min-width: 350px;
	max-width: 600px;
}

.shows {
	width: 250px;
	min-width: 250px;
}

.shows table {
	margin-top: 5px;
}

.shows th {
	padding: 8px 20px 8px 0px;
	font-size: 11pt;
}

.members .member img {
	border-radius: 50%;
}